Django==1.5.5
Markdown==2.4
Pygments==1.6
South==0.7.6
bleach==1.4
django-social-auth==0.7.18
django-suit==0.2.7
gunicorn==0.17.4
html5lib==0.999
httplib2==0.8
mdx-linkify==0.5
mdx-smartypants==1.0.7
mdx-video==0.1.7.5
namedentities==1.301
oauth2==1.5.211
python-openid==2.2.5
six==1.6.1
smartypants==1.8.3
wsgiref==0.1.2
