Django==1.5.5
Markdown==2.4
South==0.7.6
bleach==1.4
django-recaptcha==1.0
django-social-auth==0.7.18
django-suit==0.2.7
gunicorn==0.17.4
mdx-linkify==0.5
mdx-smartypants==1.5.1
mdx-video==0.1.7.5
smartypants==1.8.3
