{% extends "base.html" %}
{% load i18n %}
{% load custom_date %}
{% load sort %}


{% block content %}

        {% if articles %}

            {% for date, articles in sorted_articles|dict_reverse %}

                {{ date|fake_date_without_day|date:"F, Y" }}

                {% for article in articles %}

                    <h1><a href="{{ article.get_link }}">{{ article.title }}</a></h1>

                {% endfor %}

            {% endfor %}

        {% else %}

            <p>{% trans "No articles." %}</p>

        {% endif %}

{% endblock %}
