{% extends "base.html" %}
{% load i18n %}


{% block content %}

    {% include "blocks/article.html" %}

    <div id="comments">

        {% for comment in comments %}

            {% include "blocks/comment.html" with comment=comment %}

        {% empty %}

            <p class="notification">{% trans "No comments." %}</p>

        {% endfor %}

    </div>

    <div id="add_comment">

        {% if user.is_authenticated %}

            <form method="post">
                {% csrf_token %}
                {% if comment_pk_to_reply %}<input name="comment_pk_to_reply" type="hidden" value="{{ comment_pk_to_reply }}" />{% endif %}
                <p><textarea name="content" rows="5" placeholder="{% trans "Your comment..." %}"></textarea></p>
                <p>
                    <button>{% trans "Add comment" %}</button>
                    {% if comment_pk_to_reply  %}
                        <span id="reply_to">
                            {% blocktrans %}
                                (reply to <a href="{{ article_link }}?comment_pk_to_reply={{ comment.pk }}">comment #{{ comment_pk_to_reply }}</a>)
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                </p>
            </form>

        {% else %}

            <p class="notification">
                {% url user_login as url_for_user_login %}
                {% blocktrans %}Please <a href="{{ url_for_user_login }}">login</a>, if you want to comment.{% endblocktrans %}
            </p>

        {% endif %}

    </div>

{% endblock %}
