{% load text_processors %}


<h3>{{ article.title }}</h3>

{{ article.content|markdown }}

<h4>Comments</h4>

{% for comment in comments %}

    <strong>{{ comment.author }}</strong>
    {{ comment.content|markdown }}

{% empty %}

    <p>No comments.</p>

{% endfor %}

<h4>Add Comment</h4>

{% if user.is_authenticated %}

    <form method="post">

        {% csrf_token %}

        {{ comment_form.as_p }}

        <button>Add comment</button>

    </form>

{% else %}

    <p>Please <a href="{% url user_login %}">login</a> to comment.</p>

{% endif %}
