{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <section>

        <h1>{% trans "Search" %}</h1>

        <form>
            {{ search_form.non_field_errors }}

            <p>
                <label>
                    {% trans "Phrase" %} <em>{% trans "(regular expressions are allowed)" %}</em>
                    <input name="phrase" value="{{ search_form.phrase.value|default:"" }}" />
                </label>
            </p>
            {{ search_form.phrase.errors }}

            <p>
                <label>
                    {% trans "Tags" %} <em>{% trans "(separate them by comma)" %}</em>
                    <input name="tags" value="{{ search_form.tags.value|default:"" }}" />
                </label>
            </p>
            {{ search_form.tags.errors }}

            <p>
                <button>{% trans "Find articles" %}</button>
            </p>
        </form>

        <section class="found_articles">

            {% if found_articles %}

                {% for article in found_articles %}

                    <article>

                        <header>

                            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>

                            {% include "blocks/tags.html" %}

                        </header>

                    </article>

                {% endfor %}

            {% endif %}

        </section>

    </section>

{% endblock %}
