{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <section>

        <section class="found_articles">

            {% if found_articles %}

                {% for article in found_articles %}

                    <article>

                        <header>

                            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>

                            {% include "blocks/tags.html" %}

                        </header>

                    </article>

                {% endfor %}

            {% endif %}

        </section>

    </section>

{% endblock %}

