{% extends "base.html" %}
{% load i18n %}
{% load tags %}


{% block content %}

    <section>

        <h1>{% trans "Tags" %}</h1>

        {% if tags %}

            <ul class="tags">
                {% for tag in tags %}
                    <li><a href="{% url "blog_search" %}?tags={{ tag.content|urlencode }}" style="{{ tags|get_style:tag.priority }}">{{ tag.content }}</a></li>
                {% endfor %}
            </ul>

        {% else %}

            <p>{% trans "No tags." %}</p>

        {% endif %}

    </section>

{% endblock %}
