{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <section class="content" id="tags">

        <h1>{% trans "Tags" %}</h1>

        <ul>
            <li>announcement</li>
            <li>battlefield</li>
            <li>bitbucket</li>
            <li>books</li>
            <li>braindump</li>
            <li>c</li>
            <li>c++</li>
            <li>codecs</li>
            <li>design</li>
            <li>django</li>
            <li>fabric</li>
            <li>finance</li>
            <li>flask</li>
            <li>games</li>
            <li>genshi</li>
            <li>git</li>
            <li>github</li>
            <li>hg</li>
            <li>import</li>
            <li>javascript</li>
            <li>jinja</li>
            <li>licensing</li>
            <li>linux</li>
            <li>mako</li>
            <li>mono</li>
            <li>music</li>
            <li>mysql</li>
            <li>openid</li>
            <li>personal</li>
            <li>pycon</li>
            <li>python</li>
            <li>rant</li>
            <li>ruby</li>
            <li>rust</li>
            <li>security</li>
            <li>sqlalchemy</li>
            <li>thoughts</li>
            <li>vim</li>
            <li>web</li>
            <li>websocket</li>
            <li>werkzeug</li>
            <li>windows</li>
            <li>wsgi</li>
            <li>xml</li>
            <li>zmq</li>
        </ul>

    </section>

{% endblock %}
