{% extends "base.html" %}
{% load i18n %}
{% load tags %}


{% block content %}

    <section>

        <h1>{% trans "Tags" %}</h1>

        {% if tags %}

            <ul class="tags">
                {% with max_priority=tags|max_priority %}
                    {% for tag_content, priority in tags.items %}
                        <li><a href="{% url blog_search %}?tags={{ tag_content }}" class="{{ max_priority|css_class:priority }}">{{ tag_content }}</a></li>
                    {% endfor %}
                {% endwith %}
            </ul>

        {% else %}

            <p>{% trans "No tags." %}</p>

        {% endif %}

    </section>

{% endblock %}
