{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "About" %}</h1>

    <section class="content">

    <p>{% trans "Mans vārds ir Raitis Stengrevics, bet gīku sabiedrībā mani mēdz dēvēt par Grevi. Es esmu Python programmētājs, liels tvītotājs, Vim lietotājs un panks sirdī. Brīvajā laikā, kad neprogrammēju kerneļus, cenšos būt reālajā pasaulē un darīt visādas muļķīgas lietas. Arī eju uz svaru zāli un rakstu blogu." %}</p>

        <img src="{{ STATIC_URL }}images/me.jpeg" alt="{{ settings.AUTHOR_NAME }}" />

    </section>

{% endblock %}
