{% load i18n %}


<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        <meta name="description" content="{{ settings.META_DESCRIPTION }}" />
        <meta name="author" content="{{ settings.META_AUTHOR }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <title>{% if page_title %}{{ settings.SITE_TITLE }} | {{ page_title }}{% else %}{{ page_title|default:settings.SITE_TITLE }}{% endif %}</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600&amp;subset=latin,latin-ext" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700&amp;subset=latin,latin-ext" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/normalize--2.0.1.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/font-awesome--3.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton--1.2/skeleton.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/pygments/solarized_light.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicons/favicon-16.png" />
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}favicons/favicon-57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}favicons/favicon-72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}favicons/favicon-114.png" />
        <link rel="alternate" type="application/rss+xml" title="{% blocktrans with title=settings.ARTICLES_FEED.RSS_TITLE %}{{ title }}{% endblocktrans %}" href="{% url settings.ARTICLES_FEED.RSS_LINK %}" />
        <link rel="alternate" type="application/atom+xml" title="{% blocktrans with title=settings.ARTICLES_FEED.ATOM_TITLE %}{{ title }}{% endblocktrans %}" href="{% url settings.ARTICLES_FEED.ATOM_LINK %}" />
        <link rel="alternate" type="application/rss+xml" title="{% blocktrans with title=settings.COMMENTS_FEED.RSS_TITLE %}{{ title }}{% endblocktrans %}" href="{% url settings.COMMENTS_FEED.RSS_LINK %}" />
        <link rel="alternate" type="application/atom+xml" title="{% blocktrans with title=settings.COMMENTS_FEED.ATOM_TITLE %}{{ title }}{% endblocktrans %}" href="{% url settings.COMMENTS_FEED.ATOM_LINK %}" />

        <link type="text/plain" rel="author" href="{% url "core_humans_txt" %}" />

        <!--

        __.-._
        '-._"7'  Welcome to the light side of the source, young padawan.
        /'.-c    So you'd like to learn? So you'd like to know more?
        |  /T    https://github.com/daGrevis/daGrevis.lv
        _)_/LI

        -->
    </head>
    <body>
        <div class="container">
            <div class="ten columns">
                <header role="banner">
                    <h1><a href="{% url "blog_articles" %}">{{ settings.SITE_TITLE }}</a></h1>
                    <nav role="navigation">
                        <ul>
                            <li><a href="{% url "core_about" %}">{% trans "About" %}</a></li>
                            <li><a href="{% url "core_contacts" %}">{% trans "Contacts" %}</a></li>
                            <li><a href="{% url "blog_tags" %}">{% trans "Tags" %}</a></li>
                            <li><a href="{% url "blog_search" %}">{% trans "Search" %}</a></li>
                        </ul>
                    </nav>
                    <div class="clearer"></div>
                </header>

                <section role="main">
                    {% block content %}{% endblock %}
                </section>

                <footer role="contentinfo">
                    <p>
                        {% with author_url=settings.AUTHOR_URL author_name=settings.AUTHOR_NAME %}
                            {% blocktrans %}
                                Content author is <a href="{{ author_url }}">{{ author_name }}</a>, unless it's specified otherwise.
                            {% endblocktrans %}
                        {% endwith %}
                    </p>
                    <ul>
                        <li><a href="https://twitter.com/daGrevis" class="icon-twitter" title="{% trans "Twitter" %}"></a></li>
                        <li><a href="https://github.com/daGrevis" class="icon-github-alt" title="{% trans "GitHub" %}"></a></li>
                        <li><a href="https://linkedin.com/in/daGrevis" class="icon-linkedin" title="{% trans "LinkedIn" %}"></a></li>
                        <li><a href="{% url "core_contacts" %}" class="icon-envelope" title="{% trans "Contacts" %}"></a></li>
                    </ul>
                </footer>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}scripts/main.js"></script>

        {% if settings.GA_ENABLED %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ settings.GA_ID }}']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
    </body>
</html>
