{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "Contacts" %}</h1>

    <section class="content">

        {% if not settings.ACCEPT_FREELANCE %}
            <h2>{% trans "At the moment I'm not looking for any freelance jobs!" %}</h2>
        {% endif %}

        <form method="post">

            {% csrf_token %}

            <p>
                <input name="email" placeholder="{% trans "yourmail@example.com" %}" />
            </p>

            {{ contact_form.email.errors }}

            <p>
                <textarea name="message" rows="10"></textarea>
            </p>

            {{ captcha }}

            {{ contact_form.message.errors }}

            <p class="hidden">
                <label>I'm bot (leave blank)</label>
                <input type="checkbox" name="im_bot" />
            </p>

            <p>
                <button>{% trans "Contact me" %}</button>
            </p>

        </form>

        <br />
        <p>{% trans "Arī esmu <a href=\"https://twitter.com/daGrevis\">Tviterā (@daGrevis)</a> un <a href=\"skype:raitis.stengrevics\">Skype (raitis.stengrevics)</a>!" %}</p>

    </section>

{% endblock %}
