{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "Freelance" %}</h1>

    <section class="content">

        <p>{% trans "Esmu nolēmis nedaudz piepelnīties, tāpēc, ja tev vajag labu programmētaju, sazinies un visu sarunāsim! :) Esmu gatavs programmēt Python un pat PHP, salabot vai uzlabot jau esošo sistēmu un arī nogādāt visu uz servera!" %}</p>

        <br />

        <form method="post">
            {{ freelance_form.non_field_errors }}

            {% csrf_token %}

            <p>
                <input name="client_email" placeholder="{% trans "client@example.com" %}" />
            </p>
            {{ freelance_form.client_email.errors }}

            <p>
                <textarea name="message" rows="10" placeholder="{% trans "I would like you to build a..." %}"></textarea>
            </p>
            {{ freelance_form.message.errors }}

            <p>
                <button>{% trans "Submit offer" %}</button>
            </p>
        </form>

    </section>

{% endblock %}
