{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "Registration" %}</h1>

    <form method="post">
        {% csrf_token %}

        <p>
            <label>{{ form.username.label }}</label>
            <input name="{{ form.username.html_name }}" />
            {{ form.username.errors }}
        </p>
        <p>
            <label>{{ form.password1.label }}</label>
            <input name="{{ form.password1.html_name }}" type="password" />
            {{ form.password1.errors }}
        </p>
        <p>
            <label>{{ form.password2.label }}</label>
            <input name="{{ form.password2.html_name }}" type="password" />
            {{ form.password2.errors }}
        </p>
        <p>
            <button>{% trans "Register" %}</button>
        </p>
    </form>

{% endblock %}
