{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h1>{% trans "Registration" %}</h1>

    <form method="post">
        {{ form.non_field_errors }}

        {% csrf_token %}

        <p>
            <label>{{ form.username.label }}</label>
            <input name="{{ form.username.html_name }}" value="{{ form.username.value|default:"" }}" autocomplete="off" tabindex="1" autofocus />
        </p>
        {{ form.username.errors }}

        <p>
            <label>{{ form.password1.label }}</label>
            <input name="{{ form.password1.html_name }}" type="password" tabindex="2" />
        </p>
        <p>Please use a <a href="http://howsecureismypassword.net/">strong password</a>!</p>
        {{ form.password1.errors }}

        <p>
            <label>{{ form.password2.label }}</label>
            <input name="{{ form.password2.html_name }}" type="password" tabindex="3" />
        </p>
        {{ form.password2.errors }}

        <p class="hidden">
            <label>I'm bot (leave blank)</label>
            <input type="checkbox" name="im_bot" />
        </p>

        <p>
            <button tabindex="4">{% trans "Register" %}</button>
        </p>
    </form>

    <p>You can <a href="{% url user_login %}">login here</a>.</p>

{% endblock %}
