{% load i18n %}


<div id="add_comment">

    <section>

        {% if user.is_authenticated %}

            <form action="#add_comment" method="post">
                {% csrf_token %}
                {% if comment_pk_to_reply %}<input name="comment_pk_to_reply" type="hidden" value="{{ comment_pk_to_reply }}" />{% endif %}
                <p><textarea name="content" rows="5" placeholder="{% trans "Your comment..." %}"></textarea></p>
                <p>
                    <button>{% trans "Add comment" %}</button>
                    {% if comment_pk_to_reply  %}
                        <span id="reply_to">
                            {% blocktrans %}
                                (reply to <a href="{{ article_link }}?comment_pk_to_reply={{ comment.pk }}">comment #{{ comment_pk_to_reply }}</a>)
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                </p>
            </form>

        {% else %}

            <p>
                {% blocktrans %}Please login with <a href="#">Twitter</a> or <a href="#">GitHub</a>, if you want to comment.{% endblocktrans %}
                <br />
                {% url user_login as url_for_user_login %}
                {% url user_registration as url_for_user_registration %}
                {% blocktrans %}It's possible to use simple <a href="{{ url_for_user_login }}">login</a> and <a href="{{ url_for_user_registration }}">registration</a> too!{% endblocktrans %}
            </p>

        {% endif %}

    </section>

</div>
