{% load i18n %}


<div id="add_comment">

    <section>

        {% if user.is_authenticated %}

            <form action="#add_comment" method="post">
                {% csrf_token %}
                <input type="hidden" name="article" value="{{ article.pk }}" />
                {% if comment_pk %}<input name="parent" type="hidden" value="{{ comment_pk }}" />{% endif %}
                <p><textarea name="content" rows="5" placeholder="{% trans "Your comment..." %}"></textarea></p>
                <p>
                    <button>{% trans "Add comment" %}</button>
                    {% if comment_pk %}
                        <span class="reply_to">
                            {% blocktrans with article.get_absolute_url as article_link %}
                                (reply to <a href="{{ article_link }}?comment_pk={{ comment.pk }}">comment #{{ comment_pk }}</a>)
                            {% endblocktrans %}
                        </span>
                    {% endif %}
                </p>
            </form>

        {% else %}

            <p>
                {% url "socialauth_begin" "twitter" as url_for_twitter_login %}
                {% url "socialauth_begin" "github" as url_for_github_login %}
                {% blocktrans with article.get_absolute_url as article_link %}
                    Please login with <a href="{{ url_for_twitter_login }}?next={{ article_link }}#add_comment">Twitter</a> or <a href="{{ url_for_github_login }}?next={{ article_link }}#add_comment">GitHub</a>, if you want to comment.
                {% endblocktrans %}
                <br />
                {% url "user_login" as url_for_user_login %}
                {% url "user_registration" as url_for_user_registration %}
                {% blocktrans with article.get_absolute_url as article_link %}
                    It's possible to use simple <a href="{{ url_for_user_login }}?redirect_to={{ article_link }}#add_comment">login</a> and <a href="{{ url_for_user_registration }}">registration</a> too!
                {% endblocktrans %}
            </p>

        {% endif %}

    </section>

</div>
