{% load i18n %}
{% load text_processors %}


<article>
    <header>
        <h1><a href="{% url blog_article article.pk article.slug %}">{{ article.title }}</a></h1>
        {% if article.tags %}
            <ul class="tags">
                {% for tag in article.tags %}
                    <li><a href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </header>
    <section class="content">
        {{ article.content|markdown }}
    </section>
    <footer>
        <p class="left">
            {% trans "Published:" %} <time datetime="{{ article.created|date:"c" }}">{{ article.created|date:"F j, Y" }}</time><br />
            {% trans "Author:" %} <a href="#">{{ article.author.username }}</a>
        </p>
        <p class="right">
            <a href="{{ article.get_link }}#comments">
                {% with comment_count=article.comment_set.count %}
                    {% if comment_count == 0 %}
                        {% trans "No comments" %}
                    {% elif comment_count == 1 %}
                        {% trans "1 comment" %}
                    {% else %}
                        {% blocktrans %}
                            {{ comment_count }} comments
                        {% endblocktrans %}
                    {% endif %}
                {% endwith %}
            </a>
        </p>
        <div class="clearer"></div>
    </footer>
</article>
