{% load i18n %}


<article>
    <header>
        <h1><a href="{% url "blog_article" article.pk article.slug %}">{{ article.title }}</a></h1>
        {% include "blocks/tags.html" %}
    </header>
    <section>
        {{ article.get_content_as_html|safe }}
    </section>
    <footer>
        <div class="about">
            <p>
                {% trans "Published:" %} <time datetime="{{ article.created|date:"c" }}">{{ article.created|date:"F j, Y" }}</time><br />
                {% trans "Author:" %} <strong>{{ article.author.username }}</strong>
            </p>
        </div>
        <div class="share">
            <p>
                <a href="{{ article.get_link }}#comments">
                    {% with comment_count=article.comment_set.count %}
                        {% if comment_count == 0 %}
                            {% trans "No comments" %}
                        {% elif comment_count == 1 %}
                            {% trans "1 comment" %}
                        {% else %}
                            {% blocktrans %}
                                {{ comment_count }} comments
                            {% endblocktrans %}
                        {% endif %}
                    {% endwith %}
                </a>
            </p>
            <nav>
                <ul>
                    <li><a href="{{ article.get_absolute_url }}" class="icon-link" title="{% trans "Article link" %}"></a></li>
                    {% if article.tweet_id %}
                        <li><a href="{{ article.get_tweet_link }}" target="_blank" class="icon-retweet" title="{% trans "Tweet link" %}"></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="clear"></div>
    </footer>
</article>
