{% load i18n %}


<div id="comment{{ comment.pk }}" class="comment depth{{ comment.depth }} {% if comment.author.is_superuser %}superuser_comment{% endif %}">
    <section>
        {{ comment.get_content_as_html|safe }}
    </section>
    <footer>
        <p class="about">
            {% trans "Published:" %} <time datetime="{{ article.created|date:"c" }}">{{ comment.created|date:"F j, Y" }}</time><br />
            {% trans "Author:" %} <strong>{{ comment.author.username }}</strong>
        </p>
        <nav class="share">
            <ul>
                <li><a href="{{ article.get_link }}#comment{{ comment.pk }}" class="icon-link" title="{% trans "Link" %}"></a></li>
                {% if comment.depth < settings.MAXIMUM_DEPTH_FOR_COMMENT %}
                    <li>
                        <a href="{{ article.get_link }}?comment_pk_to_reply={{ comment.pk }}#add_comment" class="icon-reply" title="{% trans "Reply" %}"></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="clear"></div>
    </footer>
</div>
