<div id="pagination">
    <section>
        <nav>
            <ul>
                <li><a href="#" class="icon-double-angle-left"></a></li>
                <li><a href="#" class="icon-angle-left"></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" class="icon-angle-right"></a></li>
                <li><a href="#" class="icon-double-angle-right"></a></li>
            </ul>
        </nav>
    </section>
</div>
